@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 5px;
    }
  }
}
