<div class="row">
  <div class="col-sm-12 text-center">
    <button nbButton status="primary" [routerLink]="['/pages/offices/new']"><i class="fa fa-plus"></i> Ajouter un nouveau cabinet</button>
  </div>
</div>
<div class="mt-3"></div>
<div class="row">
  <div class="col-lg-12">
    <nb-flip-card>
      <nb-card-front>
        <nb-card>
          <nb-card-header>Eucalyptus</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <nb-card>
                  <nb-card-header>Informations</nb-card-header>
                  <nb-card-body>
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <label class="label">Adresse</label>
                        <nb-form-field>
                          <nb-icon nbPrefix icon="map-marker-alt" pack="fa"></nb-icon>
                          <input fullWidth nbInput type="text" placeholder="Adresse" class="form-control" name="address"
                                 value="9 rue du Maréchal Leclerc"
                                 disabled/>
                        </nb-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-4">
                        <nb-form-field>
                          <nb-icon nbPrefix icon="map-marker" pack="fa"></nb-icon>
                          <input nbInput fullWidth type="text" placeholder="Code postal" class="form-control" name="zipCode"/>
                        </nb-form-field>
                      </div>
                      <div class="form-group col-sm-8">
                        <nb-form-field>
                          <nb-icon nbPrefix icon="map-marker" pack="fa"></nb-icon>
                          <input nbInput fullWidth type="text" placeholder="Ville" class="form-control" name="city"/>
                        </nb-form-field>
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>

          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
          <nb-card-header>Cabinet 1</nb-card-header>
          <nb-card-body>
            Back
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
  <div class="col-lg-12">
    <nb-flip-card>
      <nb-card-front>
        <nb-card>
          <nb-card-header>Cabinet 2</nb-card-header>
          <nb-card-body>
            Front
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
          <nb-card-header>Cabinet 2</nb-card-header>
          <nb-card-body>
            Back
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
</div>
