<div class="row">
  <div class="col-md-12">
    <form #patientForm="ngForm" autocomplete="off">
    <nb-card>
      <nb-card-header>Enregistrer un nouveau patient</nb-card-header>
      <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>

        <div class="row">
          <div class="col-md-12">
            <nb-card-body>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Nom :</label>
                    <input type="text" placeholder="Nom" #lastName="ngModel" name="lastName" class="form-control"
                           autocomplete="patient_doNotAutoCompleteLastName"
                           [ngClass]="{'form-control-danger': !lastName || lastName.invalid}"
                           required [(ngModel)]="patient.lastName" #spy/>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Prénom :</label>
                    <input type="text" placeholder="Prénom" #firstName="ngModel" name="firstName" class="form-control"
                           autocomplete="patient_doNotAutoCompleteFirstName"
                           [ngClass]="{'form-control-danger': !firstName || firstName.invalid}"
                           required [(ngModel)]="patient.firstName" #spy/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-group col-sm-6">
                  <span class="input-group-addon fa-icon"><i class="fa fa-calendar"></i></span>
                  <input type="text"
                         name="birthDate"
                         autocomplete="patient_doNotAutoCompleteBirthDate"
                         #birthDate="ngModel"
                         placeholder="Date de naissance"
                         class="form-control"
                         bsDatepicker
                         required
                         [ngClass]="{'form-control-danger': !birthDate || birthDate.invalid}"
                         [(ngModel)]="patient.birthDate"
                         placement="right"
                         [bsConfig]="{ dateInputFormat: 'DD MMMM YYYY'}" #spy/>
                </div>
                <div class="demo-radio col-sm-6">
                  <label class="custom-control custom-radio" *ngFor="let choice of sexe | keyvalue">
                    <input type="radio" class="custom-control-input" name="sexe"
                           [value]="choice.key" [(ngModel)]="patient.sexe" #spy>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ choice.value }}</span>
                  </label>
                </div>
              </div>
            </nb-card-body>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="row text-center">
          <div class="col-md-6">
            <button class="btn btn-danger" (click)="resetForm()">Réinitialiser</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success" (click)="savePatient()" [disabled]="patientForm.form.invalid">Enregistrer</button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
    </form>
  </div>
</div>
