<div class="row">
  <div class="col-md-12">
    <form #patientForm="ngForm" autocomplete="off">
    <nb-card>
      <nb-card-header>Enregistrer un nouveau patient</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLastName" class="label">Nom</label>
              <input type="search" id="inputLastName" nbInput fullWidth placeholder="Nom" #lastName="ngModel" name="lastName" class="form-control"
                     autocomplete="patient_doNotAutoCompleteLastName"
                     [status]="!lastName || lastName.invalid ? 'danger' : 'success'"
                     required [(ngModel)]="patient.lastName" #spy/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName" class="label">Prénom</label>
              <input type="search" nbInput fullWidth id="inputFirstName" placeholder="Prénom" #firstName="ngModel" name="firstName" class="form-control"
                     autocomplete="patient_doNotAutoCompleteFirstName"
                     [status]="!firstName || firstName.invalid ? 'danger' : 'success'"
                     required [(ngModel)]="patient.firstName" #spy/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
            <label for="birthDate" class="label">Date de naissance</label>
            <nb-form-field>
              <nb-icon nbPrefix icon="calendar" pack="fa"></nb-icon>
              <input nbInput
                     onkeydown="return false;"
                     type="search"
                     fullWidth
                     name="birthDate"
                     id="birthDate"
                     autocomplete="off"
                     #birthDate="ngModel"
                     placeholder="Date de naissance"
                     class="form-control"
                     bsDatepicker
                     required
                     [(ngModel)]="patient.birthDate"
                     [status]="!birthDate || birthDate.invalid ? 'danger' : 'success'"
                     [bsConfig]="{ dateInputFormat: 'DD MMMM YYYY'}" #spy>
            </nb-form-field>
            </div>
          </div>
          <div class="demo-radio col-sm-6">
            <div class="form-group">
              <label for="sexe" class="label">Sexe</label>
              <nb-radio-group [(value)]="patient.sexe" id="sexe" class="horizontal">
                <nb-radio *ngFor="let choice of sexe | keyvalue"
                          [value]="choice.key" #spy>
                  {{ choice.value }}
                </nb-radio>
              </nb-radio-group>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="row text-center">
          <div class="col-md-6">
            <button class="btn btn-danger" (click)="resetForm()">Réinitialiser</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success" (click)="savePatient()" [disabled]="patientForm.form.invalid || creating">Enregistrer</button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
    </form>
  </div>
</div>
