<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        {{patient.lastName | uppercase}} {{patient.firstName | titlecase}} - {{getAge()}} ans ({{ patient.birthdate | date:'mediumDate' }})
      </nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Détails">
            <div class="container">
              <div class="row">
                <div class="col-md-6 right-col-border">
                  <nb-card-body>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Nom :</label>
                          <input type="text" placeholder="Nom" class="form-control" [(ngModel)]="patient.lastName"/>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Prénom :</label>
                          <input type="text" placeholder="Prénom" class="form-control" [(ngModel)]="patient.firstName"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-group col-sm-6">
                        <span class="input-group-addon fa-icon"><i class="fa fa-calendar"></i></span>
                        <input type="text"
                               placeholder="Date de naissance"
                               class="form-control"
                               bsDatepicker
                               [(ngModel)]="patient.birthdate"
                               [bsConfig]="{ dateInputFormat: 'DD MMMM YYYY', containerClass: 'theme-blue' }"/>
                      </div>
                      <div class="demo-radio col-sm-6">
                        <label class="custom-control custom-radio" *ngFor="let choice of sexe | keyvalue">
                          <input type="radio" class="custom-control-input" name="customRadio"
                                 [value]="choice.key" [(ngModel)]="patient.sexe">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">{{ choice.value }}</span>
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-group col-sm-6">
                        <span class="input-group-addon fa-icon"><i class="fa fa-mobile"></i></span>
                        <input type="text" placeholder="Téléphone Mobile" class="form-control" [(ngModel)]="patient.mobilePhone"/>
                      </div>
                      <div class="input-group col-sm-6">
                        <span class="input-group-addon fa-icon"><i class="fa fa-phone"></i></span>
                        <input type="text" placeholder="Téléphone Fixe" class="form-control" [(ngModel)]="patient.phone"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-group col-sm-8">
                        <span class="input-group-addon fa-icon"><i class="fa fa-at"></i></span>
                        <input type="email" placeholder="Email" class="form-control"/>
                      </div>
                      <div class="demo-checkboxes col-sm-4">
                        <nb-checkbox class="custom-control" [(ngModel)]="patient.deceased">Décédé(e)</nb-checkbox>
                      </div>
                    </div>
                    <p>Adresse :</p>
                    <div class="input-group">
                      <span class="input-group-addon fa-icon"><i class="fa fa-map-marker-alt"></i></span>
                      <input type="text" placeholder="Adresse" class="form-control" [(ngModel)]="patient.address"/>
                    </div>
                    <div class="row">
                      <div class="input-group col-sm-4">
                        <span class="input-group-addon fa-icon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" placeholder="Code postal" class="form-control" [(ngModel)]="patient.zipCode"/>
                      </div>
                      <div class="input-group col-sm-8">
                        <span class="input-group-addon fa-icon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" placeholder="Ville" class="form-control" [(ngModel)]="patient.city"/>
                      </div>
                    </div>
                  </nb-card-body>
                </div>
                <div class="col-md-6">
                  <nb-card-body>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="maritalStatus">Statut marital :</label>
                          <select id="maritalStatus" name="maritalStatus" class="form-control">
                            <option>Non précié</option>
                            <option>Marié(e)</option>
                            <option>Célibataire</option>
                            <option>En couple</option>
                            <option>Pacsé(e)</option>
                            <option>Divorcé(e)</option>
                            <option>Veuf(ve)</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="numberChildren">Nombre d'enfants :</label>
                          <input type="number" id="numberChildren" name="numberChildren" value="0"
                                 class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="job">Profession / Scolarité :</label>
                          <input type="text" id="job" name="job" placeholder="Profession" class="form-control"/>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="hobbies">Loisirs :</label>
                          <input type="text" id="hobbies" name="hobbies" placeholder="Loisirs" class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="doctor">Médecin traitant :</label>
                          <input type="text" id="doctor" name="doctor" placeholder="Médecin traitant"
                                 class="form-control"/>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="mutual-health">Mutuelle :</label>
                          <input type="text" id="mutual-health" name="mutual-health" placeholder="Mutuelle santé"
                                 class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="social-security">Numéro Sécurité Sociale :</label>
                          <input type="text" id="social-security" name="social-security"
                                 placeholder="Numéro sécurité sociale" class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="sender">Envoyé par :</label>
                          <input type="text" id="sender" name="sender" placeholder="Envoyé par" class="form-control"/>
                        </div>
                      </div>
                      <div class="demo-radio col-sm-6">
                        <label class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" name="customRadio">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description"> Droitier</span>
                        </label>
                        <label class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" name="customRadio">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Gaucher</span>
                        </label>
                      </div>
                    </div>
                  </nb-card-body>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="remarks">Remarques :</label>
                    <textarea rows="5" placeholder="Remarques" id="remarks" name="remarks"
                              class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="Antécédents" [badgeText]="getNumberOfAntecedents()" badgeStatus="danger">
            <form>
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <nb-card-body>
                      <div *ngFor="let category of antecedentCategories; let isEven = even">
                        <div *ngIf="isEven">
                          <h4>{{ category.title }}</h4>
                          <hr>
                          <ngx-patient-antecedent *ngFor="let antecedent of category.antecedents"
                                                  [antecedent]="antecedent">
                          </ngx-patient-antecedent>
                        </div>
                      </div>
                    </nb-card-body>
                  </div>
                  <div class="col-md-6">
                    <nb-card-body>
                      <div *ngFor="let category of antecedentCategories; let isOdd = odd">
                        <div *ngIf="isOdd">
                          <h4>{{ category.title }}</h4>
                          <hr>
                          <ngx-patient-antecedent *ngFor="let antecedent of category.antecedents"
                                                  [antecedent]="antecedent">
                          </ngx-patient-antecedent>
                        </div>
                      </div>
                    </nb-card-body>
                  </div>
                </div>
              </div>
            </form>
          </nb-tab>
          <nb-tab tabTitle="Consultations" badgeText="2" badgeStatus="info">
            <div class="row">
              <div class="col-md-12">
                3
              </div>
            </div>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Using the Grid</nb-card-header>
      <nb-card-body>
        <code>
          <pre>{{patient | json }}</pre>
        </code>
      </nb-card-body>
    </nb-card>
  </div>
</div>
