nb-radio-group.horizontal {
  display: block;

  nb-radio {
    display: inline;
  }
}

.tiny {
  font-size: 0.6rem;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}

nb-accordion-item-header .title {
  width: 80%;
}



