@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-radio-group.horizontal {
    display: block;

    nb-radio {
      display: inline;
    }
  }

  .tiny {
    font-size: 0.6rem;
  }

  .pointer {
    cursor: pointer;
  }

  .center {
    text-align: center;
  }

  nb-accordion-item-header .title {
    width: 80%;
  }

  nb-tab {
    overflow: hidden;
  }

}



